
table {
    border-collapse: collapse
}

thead td {
    background-color: #FFF;
    font-weight: bold;
}

tr:nth-child(even) {
    background: rgb(160, 247, 186)
}
tr:nth-child(odd) {
    background: #FFF
}

td {
    width: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

