table {
    border-collapse: collapse;
    width: 50%;
    background-color: darkslategray;
    color: rgb(253, 212, 218);

}

table, tr, td  {
    border: 1px solid darksalmon;
    padding: 15px;
}
 thead {
     color: lightgray;
     border-bottom: double;
 }