body {
    background-color: rgb(230, 137, 162);
}

h1 {
    font-family: fantasy;
    font-size: 40pt;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: bisque   
}
th {
    padding: 5px 10px 10px 10px;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: left;
    
    }

tr, td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 10px 10px 10px;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue;

}




