body {
    background-color: rgb(231, 159, 133);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    width: 601px;
    position: relative;
    top: 10px;
}

#top-box {
    border: 4px solid black;
    margin-bottom: 10px;
    background-color: rgba(186, 231, 118, 0.658);
    
}

h1, h2 {
    text-align: center;
    margin: 10px;
}

thead {
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 600px;
    text-align: center;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1px;
    width: 400px;
}